@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --light-gray: #f2f2f2;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hidden-scrollbar {
  scrollbar-width: none;
}

/* Customize the scrollbar */
.table-scrollbar::-webkit-scrollbar {
  height: 16px; /* Scrollbar height for horizontal scrollbars */
}

.table-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e2e8f0; /* Scrollbar thumb color (light grayish-blue) */
  border-radius: 10px; /* Rounded edges for the thumb */
  border: 6px solid #f8fafc; /* Subtle border to create a recessed effect */
}

.table-scrollbar::-webkit-scrollbar-track {
  background-color: transparent; /* Track color (light off-white) */
  border-radius: 10px; /* Rounded edges for the track */
  margin: 4px;
}

/* Remove the scrollbar buttons */
.table-scrollbar::-webkit-scrollbar-button {
  display: none;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 90px;
  height: 36px;
  box-shadow: 0 3px 0 #8d0e30;
  position: relative;
  clip-path: inset(-40px 0 -5px);
}

.loader:before {
  content: "";
  position: absolute;
  inset: auto calc(50% - 17px) 0;
  height: 50px;
  --g: no-repeat linear-gradient(#ea2147 0 0);
  background: var(--g), var(--g), var(--g), var(--g);
  background-size: 16px 14px;
  animation: l7-1 2s infinite linear, l7-2 2s infinite linear;
}

@keyframes l7-1 {
  0%,
  100% {
    background-position: 0 -50px, 100% -50px;
  }

  17.5% {
    background-position: 0 100%, 100% -50px, 0 -50px, 100% -50px;
  }

  35% {
    background-position: 0 100%, 100% 100%, 0 -50px, 100% -50px;
  }

  52.5% {
    background-position: 0 100%, 100% 100%, 0 calc(100% - 16px), 100% -50px;
  }

  70%,
  98% {
    background-position: 0 100%, 100% 100%, 0 calc(100% - 16px),
      100% calc(100% - 16px);
  }
}

@keyframes l7-2 {
  0%,
  70% {
    transform: translate(0);
  }

  100% {
    transform: translate(200%);
  }
}
@keyframes slide-in-right {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .animate-slide-in-right {
    animation: slide-in-right 0.3s ease-out;
  }
